POSTGRES_USER=enviro
POSTGRES_PASSWORD=password
POSTGRES_DB=enviro
DATABASE_URL=postgres://enviro:password@timescaledb:5432/enviro
MQTT_BROKER=tls://mqtt.example.com:8883
MQTT_USER=myuser
MQTT_PASS=mypassword
MQTT_CLIENT_ID=backend
MQTT_TOPIC=device/+/+
MQTT_QOS=2
INSERT_TIMEOUT=5s
